.record {
    &__list {
        display: flex;
        list-style-type: none;
        column-gap: 30px;
        align-items: center;
        width: 100%;
        margin-top: 50px;

        &_date {
            width: 15%;
            font-size: 18px;
            font-weight: 300;

            font-family: "Montserrat", sans-serif;

        }

        &_item {
            font-size: 18px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            padding: 10px 22px;
            border-radius: 3px;
            border: 1px solid #2b2b2ba2;
            background: linear-gradient(to top, #2b2b2b00, #4242429d);
            transition: 0.3s ease-in-out;

            &:hover {
                background: linear-gradient(to top, #D3101F, #D3101F);
            }
        }
    }
}